* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}




p {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

/* .wrapper {} */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}



/* HEADER */
/* цвет фона #252527 */
.header {
    background-color: #252527;
    width: 100%;
    position: fixed;
    z-index:2;
    top: 0;
}


/* MENU */

.menu {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu__link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.menu__link:hover {
    transition: 300ms;
    color: #4f93e5;
}


/* button{
    color: red;
    transition: 0.5s;
}
button:hover{
    color: green;
    transition: 0.5s;
    background-color: #252527;
} */

span {
    color: red;
    font-weight: 900;
    transition: 0.5s;
}

span:hover {
    color: darkmagenta;
    transition: 0.5s;
}

.block {
    color: white;
    font-size: 40px;
    width: 250px;
    height: 250px;
    background-color: hotpink;
    margin: 20px 10px 50px 200px;
    padding: 25px 10px 30px 45px;
}


/* FIRST SCREEN */

.first-screen {
    background-color: #252527;
}

.first-screen__wrap {
    display: flex;
    justify-content: space-around;
    /* padding: 500px 0px; */
    height: 600px;
    align-items: center;
}


.first-screen__items {}

.first-screen__items p {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.first-screen__items h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.first-screen__subtitle {
    color: #4f93e5;
    font-size: 27px;
}
/* image */
.first-screen__image {
    border: 6px solid #4f93e5;
    height: 400px;
    width: 350px;
    transition: 0, 3s;
    box-shadow: 4px 4px 36px 29px rgba(149, 0, 255, 0);

    position: relative;

    z-index: 1;
}

.first-screen__image img {
    height: 400px;
    width: 350px;

    position: absolute;
    top: 20px;
    right: 20px;
}
/* image */
.active {
    box-shadow: 4px 4px 36px 29px rgba(150, 0, 255, 0.2);
    transition: 0, 3s;
}

/* ---about---*/
.about {
    background-color: #252527;
}

.titles {
    text-align: center;
    color: #fff;
    font-size: 36px;
    letter-spacing: 4px;
}

.titles__decor {

    width: 100px;
    height: 2px;
    background-color: #4f93e5;
    margin: 0 auto;
    margin-top: 10px;
}

.about {
    background-color: #1f1f20;
    padding-top: 50px;
    padding-bottom: 50px;
}


.add-text {
    color: hotpink;
}

/* Skills */

.skills {
    background-color: #252527;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills__items {
    padding-top: 50px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.skills-item {
    /* background-color: darkorchid; */
    width: 100%;
    margin-bottom: 30px;
    height: 100%;
    /* overflow: scroll; */
}

.skills-item__romb {
    width: 110px;
    height: 110px;
    background-color: #1f1f20;
    margin: 0 auto;

    transform: rotate(45deg);
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.skills-item__romb:hover {
    box-shadow: 0 0 3px 3px #4f93e5;
    transition: all .4s ease-in-out;
}

.skills-item__icon {
    width: 50px;
    transform: rotate(-45deg);

}

.skills-item h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;

}

.skills-item p {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}


/* --- Resume --- */

.resume {
    background-color: #1f1f20;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-wrap {
    width: 180px;
    height: 40px;
    margin: 20px auto 0 auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.button-wrap a{
text-decoration: none;
}

.button {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    width: 140px;
    font-size: 16px;
    display: block;
    background-color: transparent;

    margin-top: 10px;
    border: none;

    position: relative;
    z-index: 3;
    cursor: pointer;

}



.button__decor{
    width: 110px;
    height: 11px;
    background-color: #4f93e5;

    position: absolute;
    z-index: 1;
    left: 33px;
    bottom: 2px;
    transform: scale(1);
    transition: 300ms;
}

.button-wrap:hover .button__decor {
    transition: 300ms;
    transform: scale(5, 5);
}

/* --- Works --- */
.works {
    background-color: #252527;
    padding-top: 50px;
    padding-bottom: 50px;
}
.works__image{
    width: 100%;
    height: 180px;


}
.works__image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.works__items{
    display: grid;


    grid-template-columns: repeat(3, 1fr);
    

    gap: 28px;
    /* flex-wrap: wrap; */
}
.works__items h3{
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.works__text{
    padding-top: 40px;
}


/* --- Contacts --- */
.contacts {
    background-color: #1f1f20;
    padding-top: 50px;
    padding-bottom: 50px;
}
.arrow{
    width: 25px;
    height: 25px;
    background-color: #4f92e581;
    right: 30px;
    bottom: 40px;
    position: fixed;
    padding: 5px;
    opacity: 0.5;
}
.arrow:hover{
    transition: 200ms;
    opacity: 1;
    cursor: pointer;
}
.footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #252527;
}
.footer__title{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}



.footer__links{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 15px;
     
}
.footer p{
    letter-spacing: 2px;
}
    





.footer__link{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
     
}
.footer__link img{
    width: 20px;
    height: 20px;
}

.footer__link:first-child img {
    width: 28px;
    height: 28px;

    margin-left: -2px;
}

.footer p{
    font-size: 20px;
}

