
*{
    margin: 0;
    padding: 0;
}






p {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.wrapper {
   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    display: flex;
    gap: 20px; 
    list-style-type: none;
    padding-top:30px ;
    padding-bottom: 30px;
}

li{
    color: green;
    transition: 0.5s;
    font-size: 20px;
    cursor: pointer;
}
li:hover{
      color: orange ;
      transition: 0.5s;
}
button{
    color: red;
    transition: 0.5s;
}
button:hover{
    color: green;
    transition: 0.5s;
    background-color: #252527;
}

span {
    color: red;
    font-weight: 900;
}

.block {
    color: white;
    font-size: 40px;
    width: 250px;
    height: 250px;
    background-color: hotpink;
    margin: 20px 10px 50px 200px;
    padding: 25px 10px 30px 45px;
}


/* ---first-screen---*/

.first-screen{
    background-color: #252527;
}

.first-screen__wrap{
    display: flex;
    justify-content: space-around;
    /* padding: 500px 0px; */
height: 600px; 
align-items: center;
}

.first-screen__items{

}
h1{
    color: #fff;
    font-size: 45px;
    font-weight: 700;

}
.first-screen__subtitle {
    color:  #7FFF00;
    font-size: 27px;
}

.first-screen__image{
border: 3px solid #7FFF00;
height: 400px;
width: 350px;
}

.first-screen__image img{
   width: 100%;
   height: 100%;
}

/* ---about---*/
.about{
    background-color: #252527;
}


.skills{
    background-color: #252527;
}
.resume{
    background-color: #252527; 
}
.works{
    background-color: #252527;
}
.contacts{
    background-color: #252527;
}

.add-text{
    color: hotpink;
}