a{
    color: red;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}  
body{
    background-color: lightskyblue;
}        
iframe{
    width: 100%;
    height: 800px;
}